@import "variable";
body {
  background: url("../style/images/bg-desktop.png"), $VeryDarkBlue;
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  height: auto;
  align-items: flex-end;
  padding: 0 5rem;
}

.progressbar {
  margin-left: 2rem;
  height: 8rem;
  width: 100%;
}
