@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background: url("../style/images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dddbff;
}

.card {
  margin-top: 10rem;
  height: 23.75rem;
  width: 85%;
}

.marque,
.progressbar {
  background-color: #1d2c67;
}

.marque {
  height: 11rem;
  min-width: 20.31rem;
  border-radius: 10px 90px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.marque #logo {
  width: 55%;
  margin-bottom: 1rem;
}

.marque .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #0c122c;
  text-align: center;
  position: relative;
}

.image img {
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.progressbar {
  position: relative;
  height: 10rem;
  min-width: 20.31rem;
  border-radius: 10px;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar {
  width: 80%;
  margin: 1.5rem 0 3.5rem 0;
  height: 1rem;
  background: #0c122c;
  border-radius: 25px;
  position: relative;
}

.bar-level {
  position: absolute;
  width: 81.5%;
  height: 0.8rem;
  background: linear-gradient(100deg, #ffa399, #ff4d97);
  top: 0.1rem;
  left: 0.1rem;
  border-radius: 25px;
}

.bar-level::after {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  background-color: #dddbff;
  border-radius: 25px;
  left: 100%;
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
}

em {
  font-weight: 700;
}

.mingb,
.maxgb {
  position: absolute;
  bottom: -1.5rem;
}

.maxgb {
  right: 0;
}

.gbleft {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  height: 4.375rem;
  width: 10.94rem;
  background-color: white;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #848794;
}

.gbleft em {
  color: black;
  font-size: 2.5rem;
}

footer {
  position: fixed;
  bottom: 2rem;
}
/*# sourceMappingURL=mobilestyle.css.map */